.header {
	border-bottom: 1px solid #f6f6f6;
	padding: 20px 0;

	.container {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, minmax(80px, 1fr));

		@media (max-width: 813px) {
			.header__logo {
				grid-column: 1 / -1;
			}

			.search__form {
				padding: 10px 0;
				grid-column: span 2;

				@media (max-width: 570px) {
					height: max-content;
					grid-column: span 3;
				}
			}

			.header__logo {
				margin-bottom: 20px;
			}
		}
	}

	&__logo {
		display: flex;

		img {
			margin-right: 15px;
		}

		h1 {
			color: #181818;
			font-size: 24px;
			letter-spacing: 1%;
			text-transform: uppercase;
			font-weight: 800;
		}

		p {
			color: #7b7b7b;
		}
	}
	&__cart {
		justify-self: end;
		max-width: max-content;
		grid-column: -2 / -1;

		@media (max-width: 568px) {
			grid-column: -3 / -1;
		}
	}
}
